---
import Layout from "../layouts/Layout.astro";
import data from "../../data/dinosaurs.json";
---

<Layout>
  <h1 class="text-3xl text-center underline">Dinosaurs</h1>
  <ul>
    {
      data.map((dinosaur) => (
        <li>
          <a
            class="btn btn-outline btn-primary m-2"
            href={`/${dinosaur.name.toLowerCase()}`}
          >
            {dinosaur.name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
