---
import { db, AstrojsWebVitals_Metric } from "astro:db";
import Vital from "../components/Vital.astro";
const vitals = await db.select().from(AstrojsWebVitals_Metric);
const { fcp, ttfb, lcp, rest } = vitals.reverse().reduce(
  (accum, vital) => {
    switch (vital.name) {
      case "FCP":
        accum.fcp.push(vital);
        break;
      case "TTFB":
        accum.ttfb.push(vital);
        break;
      case "LCP":
        accum.lcp.push(vital);
        break;
      default:
        accum.rest.push(vital);
        break;
    }
    return accum;
  },
  { fcp: [], ttfb: [], lcp: [], rest: [] },
);
---

<h1>Web Vitals</h1>

<Vital name="FCP" contents={fcp} />

<Vital name="TTFB" contents={ttfb} />

<Vital name="LCP" contents={lcp} />

<Vital name="Everything else" contents={rest} />
